@model ValiModern.Services.ColorOption
@{
    ViewBag.Title = "Edit Color";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xl py-3">
    <h2 class="h5 fw-bold mb-3">Edit color</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="row g-3">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.ColorCode)
                @Html.TextBoxFor(m => m.ColorCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ColorCode)
            </div>
        </div>
        <div class="mt-3">
            <a class="btn btn-outline-secondary" href="@Url.Action("Index")">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    }
</div>